/*
  Student Name: Landon Morton
  File Name: styles.css
  Date: 10/15/25
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style rules for body */
body {
  
  font-size: 1em;
}

/* Style rules for header */
header {
  background-color: rgb(133, 81, 32);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  max-width: 95%;
  margin: 3%;
  padding: 1%;
}

header h1 {
  color: rgb(255, 122, 122); 
}

/* Style rules for nav */

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: none;
  color: red;
  background: radial-gradient(circle at center, rgb(85, 107, 47) 2%, rgb(0, 0, 0) 60%);
}


.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

/* Style rules for main */
main {
  background-color: rgb(133, 81, 32);
  text-align: center;
  padding-top: 1%;
  margin-right: 3%;
  margin-left: 3%;
}

main h1 {
  color: rgb(255, 122, 122);
}

main p {
  font-family:'Times New Roman', Times, serif;
  color: aliceblue;
}

main p a {
  text-decoration: none;
}

/* Style rules for article */
section {
  margin-top: 4%;
}

section p {
  margin-top: 4%;
}

section ul {
  list-style: none;
}

aside {
  margin-top: 4%;
}

aside ul {
  list-style: none;
}

/* Style rules for Figure */
figure {
  color: rgb(255, 122, 122);
  font-weight: bold;
}

/* Style rules for form */
form {
  width: 100%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

form fieldset {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  border: 1px solid black;
  background-color: rgb(167, 99, 36);
}

form label {
  display:  block;
  font-weight: bold;
  margin-top: 3%;
  background-color: #304930;
  color: aliceblue;
  border: 1px solid black;
}

form fieldset legend {
  grid-column: 1/ -1;
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #304930;
  color: aliceblue;
  border: 1px solid black;
  width: 100%;
}

form button {
  padding: 2%;
  font-size: 1.1em;
  margin-top: 3%;
}

/* Style rules for footer */

footer {
  margin-top: 8%;
  margin-bottom: 0;
  background-color: lightslategray; 
  text-align: center;
  color: aliceblue;
  padding: 1%;
  font-size: 0.7em;
}

footer p a {
  text-decoration: none;
}

/* Style rules for images */
img {
  max-width: 100%;
  display: inline-block;
}

/* Style rules for class and id selectors */
#About {
  margin: 2%;
  padding: 0%;
  background-color: rgb(133, 81, 32);
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 1px darkred;
}

#container {
  padding-bottom: 50px;
}

.bigger {
  color: aliceblue;
  background-color: rgb(82, 30, 6);
  font-size: 1.5em;
  list-style: none;
}

.list-bullet {
  list-style-type: disc;
}
/* This shows the Mobile class, and hides the Tab-desk class */
.tab-desk {
  visibility: hidden;
  display: none;
}

#mobile {
  display: block;
  font-size: 0.75em;
  margin-bottom: 3%; 
}

#contact {
  padding: 1%;
  background-color: rgba(80, 25, 25, 0.715);
}

/* Style Rules for Pseudo code */
.hover-link:hover {
  text-decoration: none;
  color: darkblue;
  background-color: rgb(85, 107, 47);
  padding: 1em;
  border-radius: 12px;
}

/* Style rules for Tablet Viewport */
@media screen and (min-width:600px), print {
  /* Style rules for body */
  body {
    background: linear-gradient(to bottom, rgb(48, 73, 48) 76%, #fff);
    background-size: cover;
    vertical-align: middle;
  }

  /* Style rules for Header */
  header h1 {
    font-size: 3.7em;
  }

  header figure figcaption {
    font-size: 2em;
  }

  /* Style rules for main */
  main {
    margin-top: 8%;
    padding: 2%
  }

  main p {
    font-size: 1.8em
  }

  main h1 {
    font-size: 4.5em;
  }

  main iframe {
    height: 400px;
    width: 450px;
  }

  /* style rules for article */
  article {
    grid-column: 1 / span 2;
  }

  section {
    grid-column: auto;
  }

  section p {
    font-size: 1.8em;
  }

  section h4 {
    font-size: 1.8em;
  }
  
  section ul li {
    font-size: 1.8em;
  }

  aside {
    grid-column: 1 / span 2;
    font-size: 1.8em;
  }

  /* Style rules for footer */
  footer {
    font-size: 1.5em;
  }

  /* Style rules for ID and class selectors */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /* Style rules for form */
  form {
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    background-color: rgb(167, 99, 36);
  }

  form label {
    display: block;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px solid black;
    background-color: #304930;
    color: aliceblue;
  }

  form fieldset legend {
    display: block;
    font-weight: bold;
    font-size: 1.7em;
    background-color: #304930;
    color: aliceblue;
    border: 1px solid black;
    margin-bottom: 2%;
  }

  form button {
    padding: 3%;
    font-size: 1.5em;
    margin-top: 3%;
  }

  .section1 {
    grid-column: auto;
  }

  .section2 {
    grid-column: auto;
  }

  /* This shows the Table element, and hides the Mobile class */
  .tab-desk {
    visibility: visible;
    display: table;
  }

  .mobile {
    display: none;
  }

  /* Style rules for Table */
  table {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border: 5px solid black;
    border-collapse: collapse;
  }

  caption {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    caption-side: top;
  }

  table tr {
    background-color: rgb(167, 99, 36);
  }

  table tr th {
    color: aliceblue;
    background-color: rgb(82, 30, 6);
    font-size: 1.3em;
    padding: 3%;
    border-bottom: 10px solid #304930;
    border-right: 5px solid black;
  }

  table tr td {
    font-size: 0.6em;
    padding: 3%;
    border: 1px solid black;
  }

  tr:nth-child(odd) {
    background-color: rgb(202, 125, 52);
  }
}

/* Style rules for Desktop Viewport */
@media screen and (min-width: 900px), print {
  /* Style rules for body */
  body {
    background: linear-gradient(to bottom, rgb(48, 73, 48) 74%, #fff);
  }

  /* Style rules for Header */
  header {
    background: radial-gradient(circle at center, rgba(133, 81, 32, 0.9) 50%, rgb(48, 73, 48) );
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  header h1 {
    font-size: 4em;
  }

  header figure figcaption {
    font-size: 1.8em;
  }

  /* Style rules for main */
  main iframe {
    height: 400px;
    width: 550px;
  }

  /* Style rules for Article */
  #aboutheading {
    font-size: 3.5em;
  }

   section p {
    font-size: 1.8em;
  }

  section h4 {
    font-size: 1.8em;
  }
  
  section ul li {
    font-size: 1.8em;
  }

  aside {
    font-size: 1.8em;
  }

  /* Style rules for Table */
  table {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border: 5px solid black;
    border-collapse: collapse;
  }

  caption {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }

  table tr {
    background-color: rgb(167, 99, 36);
  }

  table tr th {
    color: aliceblue;
    background-color: rgb(82, 30, 6);
    font-size: 1.9em;
    padding: 3%;
    border-bottom: 10px solid #304930;
    border-right: 5px solid black;
  }

  table tr td {
    font-size: 0.8em;
    padding: 3%;
    border: 1px solid black;
  }

  tr:nth-child(odd) {
    background-color: rgb(202, 125, 52);
  }

    /* Style rules for form */
  form {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    background-color: rgb(167, 99, 36);
  }

  form label {
    display: block;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px solid black;
  }

  form fieldset legend {
    display: block;
    font-weight: bold;
    font-size: 1.7em;
  }

  form button {
    padding: 3%;
    font-size: 1.5em;
    margin-top: 3%;
  }

  .section1 {
    grid-column: auto;
  }

  .section2 {
    grid-column: auto;
  }

}

/* Style rules for Large Desktop Viewport */
@media screen and (min-width: 1200px), print {
  /* Style rules for body */
  body {
    background: linear-gradient(to bottom, rgb(48, 73, 48) 72%, #fff);
  }

  /* Style rules for Header */
  header {
    background: radial-gradient(circle at center, rgba(133, 81, 32, 0.9) 40%, rgb(48, 73, 48) );
  }

   header h1 {
    font-size: 4em;
  }

  header figure figcaption {
    font-size: 1.8em;
  }

  /* Style rules for main */
  main iframe {
    height: 500px;
    width: 650px;
  }

  /* Style rules for Article */
  #aboutheading {
    font-size: 5em;
  }

  section p {
    font-size: 2em;
  }

  section h4 {
    font-size: 2em;
  }

  section ul li {
    font-size: 2em;
  }

  aside {
    font-size: 2em;
  }

  .nav-grid {
    grid-template-columns: auto auto auto auto;
  }

  /* Style rules for Table */
  table {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border: 5px solid black;
    border-collapse: collapse;
  }

  caption {
    text-align: center;
    font-size: 4em;
    color: rgb(255, 122, 122);
    font-weight: bold;
  }

  table tr {
    background-color: rgb(167, 99, 36);
  }

  table tr th {
    color: aliceblue;
    background-color: rgb(82, 30, 6);
    font-size: 2.3em;
    padding: 3%;
    border-bottom: 10px solid #304930;
    border-right: 5px solid black;
  }

  table tr td {
    font-size: 1.1em;
    padding: 3%;
    border: 1px solid black;
  }

  tr:nth-child(odd) {
    background-color: rgb(202, 125, 52);
  }

    /* Style rules for form */
  form {
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    background-color: rgb(167, 99, 36);
  }

  form label {
    display: block;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.7em;
    background-color: #304930;
    color: aliceblue;
  }

  form fieldset legend {
    display: block;
    font-weight: bold;
    font-size: 1.9em;
    background-color: #304930;
    color: aliceblue;
    border: 1px solid black;
  }

  form button {
    padding: 3%;
    font-size: 1.7em;
    margin-top: 3%;
  }

  .section1 {
    grid-column: auto;
  }

  .section2 {
    grid-column: auto;
  }

}
