body {
  background-color: #1616d5;
}

#allGames{
    border-radius: 5%;
    box-shadow: 5px 5px 5px 5px gray;
    border: thin solid black;
    padding: 2em;
    color: rgb(239, 239, 255);
    background-color: rgb(76, 76, 83);
}

#searchGames{
    border-radius: 5%;
    box-shadow: 5px 5px 5px 5px gray;
    border: thin solid black;
    padding: 4em;
    color: rgb(239, 239, 255);
    background-color: rgb(76, 76, 83);
}
img{
    max-width: 300px;
}

/* Force cards to be equal height */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Control image size */
.card img {
  width: 100%;
  height: 180px;          /* 👈 adjust this height if needed */
  object-fit: cover;     /* crops image nicely without distortion */
}

/* Ensure card content fills evenly */
.card .list-group {
  flex-grow: 1;
}

/* Changes Card Element Colors */
.card ul li{
  background-color: rgb(61, 61, 193);
  color: rgb(208, 165, 89);
  font-weight: bold;
  text-align: center;
}